.row .btn {
    display: inline-flex;
    text-align: center;
    margin-bottom: 10px;
}
.center-block {
    text-align: center;
}

.kirby-body {
    background-color: hotpink;
}

.kirby-panel-body {
    background-color: lightpink;
}

.panel-default>.kirby-panel-heading {
    background-color: #f999a9;
    border-color: pink;
}
#light-theme {
    display: none;
}